*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #dfe2e4;


}
.card{
  display: flex;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
  display: inline-block;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  height: 270;
  width:200;
}
.text{
  font-size: 22px;
  margin: 5px;
  position: relative;
  left: 5px;
  /* border: 2px solid green; */
  font-weight: bold;

}
.span{
 /* border: 2px solid red; */
 position: relative;
 left: 10px;
 bottom: 10px;

 font-weight: bold;
 font-size: small;
}
